.sliderWrap {
  width: 100%;
height: auto;
  // border-radius: 20px;
  display: flex;
  overflow: hidden;
  margin-top: 85px;

  .slider {
    width: 100%;
    height: 85vh;
    @media (max-width:700px) {
      height: 30vh;
      background-color: red;
     }
    .sliderItem {
      width: 100%;
      height: auto;
      .textWrap {
        position: absolute;
        width: 25%;
        top: 15%;
        left: 5%;
        z-index: 1;
        @media (max-width:700px) {
        width: 40%;

          font-size: 30px;
          line-height: 28px;
         }
        h1{
            font-size: 70px;
            font-weight: 800;
            line-height: 80px;
            color: white;

           @media (max-width:700px) {
            font-size: 30px;
            line-height: normal;

           }
        }
        p{
            font-size: 20px;
            margin-top: 20px;
            color: white !important;

            @media (max-width:700px) {
              font-size: 16px;
              // margin-top: 10;
              line-height: normal;
              
             }
        }

      }

      .image {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        // border-radius: 8px !important;
      }
      &::after{
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(75, 83, 75, 0.288)
      }
    }
  }
}
