.container {
  max-width: 1480px;
  padding: 0 15px;
  margin-inline: auto;

  @media (max-width:1300px){
    max-width: 100%;
    padding: 0 40px;
    margin-inline: auto;
  }

  @media (max-width:500px){
    max-width: 100%;
    padding: 0 20px;
    margin-inline: auto;
  }
}
