
.qvpSection{
  
    .qvpWrap{
        margin-top: 100px;
        width: 100%;
        min-height: 80vh;
        .allQvpTitle{
            text-align: center;
            font-size: 37px;
            font-weight: 700;
            @media (max-width:700px) {
            font-size:26px;

            }
        }
        
        .table{
            width: 100%;
            margin-top: 20px;
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));

            gap: 20px;

            @media (max-width:700px) {
          grid-template-columns: repeat(1, minmax(0, 1fr));
                
            }
            .card{
                 padding: 20px;
                 border-radius: 20px;
                 border: 1px solid #D0D5DD;
                 display: flex;
                 justify-content: space-between;
                 flex-direction: column;
                 row-gap: 10px;
                 transition: transform .2s ease-in;

                 &:hover{
                    transition: transform .2s ease-in;
                    transform: scale(1.01);
                    background-color: #e0ece998;
                 }
                 .doctor{
                    font-size: 19px;
                    font-weight: 600;
                    color: #140A32 !important;
                 }
                 .address{
                    font-size: 17px;
                    font-weight: 400;
                    color: #140A32 !important;
                    
                 }
                 .link{
                    color: #33836E !important;
                    font-family: 700 !important;
                    font-size: 16px;
                 }
            }
        }
    }
}
