@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/mixins";
@import "./styles/unit";
@import "./styles/variables";

p{
  color: #2F2B43B2 !important;
  font-size: 16px;
}

.button {
  border-radius: 8px !important;
  padding: 22px 20px !important;
  background-color: #33836E!important;
  color: white !important;
}

.outlineButton{
  background-color: #E0ECE9 !important;
  color: #33836E !important;
}
