.aboutBox{
    width: 100%;
    margin-top: 5rem;
     
}

.aboutTitle{
    text-align: center;
    // width: fit-content;
    font-size: 32px;
    color: black;
    font-weight: 700;   
    position: relative;
    margin-bottom: 40px;
    // border-bottom: 2px solid #33836E;


    // &::before{
    //     content: "";
    //     position: absolute;
    //     top: 50px;
    //     width: 220px;
    //     height: 5px;
    //     background-color: #33836E;
    //     z-index: 21;
    // }
}

.contend{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    @media (max-width:700px){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .leftSide{
        width: 50%;
        @media (max-width:700px){
           width: 100%;
           margin-bottom: 20px;
        }
        .leftSideTitle{
            color: #140A32;
            font-size: 32px;
            line-height: 43.58px;
            letter-spacing: -3%;
            font-weight: 700;
            @media (max-width:700px){
                display: none;
             }
        }
        .deck{
            color: #140A32;
            font-size: 16px;
            line-height: 25.6px;
            font-weight: 400;
            margin-top: 20px;
        }
    }

    .rightSide{
        .img{
            box-shadow: 47px 43px 0px 5px #EBF2F0;

            @media (max-width:700px) {
                box-shadow: 29px 27px 0px 5px #EBF2F0;
                
            }
        }
    }

}