.contactTitle {
  text-align: center;
  font-size: 32px;
  color: black !important;
  font-weight: 700;
  position: relative;
  margin-bottom: 40px;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 50px;
  //   width: 225px;
  //   height: 5px;
  //   background-color: #33836e;
  //   z-index: 21;
  // }
}

.contactWrap {
  width: 100%;

  margin: 0 auto;

  border-radius: 6px;

  display: flex;
  @media (max-width:700px) {
     display: block;
  }
  gap: 20px;
  .mapWrap {
    width: 50%;
    // border: 2px solid #33836e;
    @media (max-width:700px) {
      width: 100%;
      height: 400px;
   }
    .map {
      width: 100%;
      border: none;
      border-radius: 20px;
      height: 100%;
    }
  }
  .contact {
    width: 50%;
    background-color: #33836e;
    border-radius: 20px;
    padding: 20px;
    @media (max-width:700px) {
      margin-top: 20px;
      width: 100%;
   }
    .label {
      color: #dbdbdbd0;
      font-size: 14px;
    }
    .input {
      background-color: white;
    }
    .deck {
      background-color: white;
    }
    .buttonWrap {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .button {
      padding: 12px 20px;
      background-color: #140a32;
      margin-top: 20px;
      color: white;
      border-radius: 10px;
    }
  }
}
