.header{
    width: 100%;
    height: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 100;
    background-color: #ffffff6c;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: (blur(20px));
    .nav{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navWrap{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 50px;
            .linkWap{
                display: flex;
                // gap: 20px;
                @media (max-width:750px) {
                    display: none;
                }
                .link{
                    font-size: 16px;
                    font-weight: 600;
                    padding: 10px 20px;
                    border-radius: 4px;
                    scroll-behavior: smooth;
                    transition: scroll .2;
                    &:hover{
                        transition: .2s all ;
                        background-color:#E0ECE9;
                        
                    }
                }
            }
        }
        .openIcon{
            display: none !important;
            @media (max-width:750px) {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;

            }
        }
    }
   
}

.linkWapMobile{
    display: flex;
    // align-items: center;
    flex-direction: column;
    margin-top: 20px;
    // background-color: red;
    .link{
        padding: 20px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }
}