.footer {
  background-color: #2f2b430a;

  .footerBox {
    display: flex;

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 30px;
    }
    .navLinkWrap {
      display: flex;
      @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
      }
    }
  }

  .protection {
    width: 100%;
    // background-color: red;
    text-align: center;
  }
}
