.ourTeamSection{
    width: 100%;
    height: auto;
    padding:20px 0 ;
    // background-color: #2F2B430A;
    margin-top: 100px;
    .card{
        border: 1px solid #2F2B4326;
        overflow: hidden;
        border-radius: 20px !important
    }
    .ourTeamName{
        font-weight: 600;
        color: #140A32;
        font-size: 20px;
    }
    .img{
        position: relative !important;
        width: 100% !important;
    }

}

.ourTitle{
    text-align: center;
    font-size: 32px;
    color: black;
    font-weight: 700;   
    position: relative;
    margin-bottom: 40px;


    // &::before{
    //     content: "";
    //     position: absolute;
    //     top: 50px;
    //     width: 95px;
    //     height: 5px;
    //     background-color: #33836E;
    //     z-index: 21;
    // }
}

